<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>COVID 19</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel = "stylesheet">
</head>
</html>
<body>
    <div class="container container-fluid">
        <div class="jumborton"><h1>Pandemic COVID 19</h1></div>
        <form class="form-inline" action="/" method="POST">
            <div class="form-group mb-2">
            <div class="form-group mx-sm-3 mb-2">
            
              <label for="CountryName" class="sr-only">Country Name</label>
              <input type="text" name="country" class="form-control"  placeholder="Country Name">
            </div>
           <button type="submit" class="btn btn-primary mb-2">Submit</button> 
          </form>   
          <form class="form-inline" action="/map" method="POST">
            </div>
           <button type="submit" class="btn btn-primary mb-2">map</button> 
          </form>  

          <div>
           </div>

           </form>
          
         
          </div>

            </div>
        </div>
    </div>
</body>