<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>COVID 19</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel = "stylesheet">
</head>
</html>
<body>
    <h1>Country :{{newCountry}}</h1>
    <h3>NewConfirmed :{{newConfirmed}}</h3>
    <h3>TotalConfirmed :{{totalConfirmed}}</h3>
    <h3>NewDeaths :{{newDeaths}}</h3>
    <h3>TotalDeaths :{{totalDeaths}}</h3>
    <h3>NewRecovered :{{newRecovered}}</h3>
    <h3>TotalRecovered :{{totalRecovered}}</h3>
</body>